body {
  font-family: 'Lato', sans-serif !important;
  scroll-behavior: smooth;
}
/* Header */
.carousel-item img {
  width: 100%;
  height: 650px;
}
.carousel-caption {
  position: absolute;
  /* right: 15%; */
  top: 25%;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #222222;
  text-align: left;
  line-height: initial;
  /* color:#ffffff; */
}

.carousel-caption h3 {
  /* width:70%; */
  font-size: 3rem;
  line-height: initial;
  margin-bottom: 1rem;
  /* color:#ffffff; */
}

.carousel-caption p {
  width: 60%;
  /* color:rgba(255, 255, 255, 0.705); */
  font-weight: 800;
  font-size: 1.57rem;
  line-height: initial;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {

  .carousel-caption {
    top: 20%;

  }

  .carousel-caption h3 {
    font-size: 1.75rem;
    width: 80%
  }

  .carousel-caption p {
    font-size: 1rem;

  }
}


h2 {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

h2::after {
  display: block;
  content: '';
  border-bottom: solid 3px #007bff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h2:hover:after {
  transform: scaleX(1);
}

h2.fromRight:after {
  transform-origin: 100% 50%;
}

/* Carousel */
.carousel-item {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 34%, rgba(255, 255, 255, 0.2) 68%, rgba(255, 255, 255, 0.4) 100%);

  opacity: .7;
  top: 0;
  left: 0;
}


/* button under the magic questions */
.buttonMagic {
  width: 100%;
  padding: 1rem 3%;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #0175bb;
}

/* Hover ofbutton under the magic questions */
:hover.buttonMagic {
  background-color: #0175bb;
  color: white;
  text-decoration: none;
}

/* Feature Sections */
.featureContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Feature Sections - Boxes */
.featureBox {
  width: 15rem;
  height: auto;
  margin: 1rem;
  transition: all .2s ease-in;
  /* padding: 5px; */
  border-radius: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

  /* border: 1px solid; */
}

/* .featureBox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);

  transform: scale(1.1);
} */

.featureBox1 {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  transition: all .2s ease-in;
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

@media (max-width: 576px) {
  .featureBox1 {
    width: 9rem;
  }
}

/* .featureBox1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

.fearureSpan {
  font-weight: 800;
  margin: 4px;
  width: 100%;
  font-size: 1.5rem;
}

.featureImg {
  width: 10rem;

}

/* Testimonial*/
.social-icons-slicker {
  margin: 0.5rem 0rem 0rem 5rem;

}
.testCard{
  width: 350px;
  height: auto;
}
.testi-img {
  width: 6rem;
  margin-top: -3rem;
  margin-left: 1rem;

}

.slick-slide:focus {
  outline: none !important;
}

/* testimonial content */
.testi-content {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.testi-author p {
  text-align: right;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 0.1rem;
}

/* Footer */
.left-bar {
  border-right: 1px solid #333;
  height: 7rem;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-size: cover;
  background: linear-gradient(90deg, rgba(252, 252, 252, 1) 16%, rgba(255, 255, 255, 1) 29%);
} */
.listGroup {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  font-weight: 600;
}